## Problem 1 - Basic statistics of the data (2 points)

In this problem your task is to open and explore a NOAA weather data file using pandas. The data file name is `6153237444115dat.csv` and it is located in the `data` folder in this repository. 

### Tips for completing this problem

- Use **exactly** the same variable names as in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-5-problem-1.ipynb` file (this file).
    - **Copy/paste cells in this notebook**. We use an automated grading system that will fail if there are copies of code cells.
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail. 

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Importing the pandas module
- Reading the data using pandas into a variable called `data`
- Calculating a number of values from the data file used in this problem
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

### Part 1 (0.5 points)

Your first task is to import pandas and read in the data file.

- Import the pandas module
- Read the data into a variable called `data` using pandas 

**Hint**: When reading the data, you need to consider a couple of things:

- The input file is located in the `data` folder, and you need to include this in the filepath when reading the file to pandas
- No-data values are specified with varying number of `*` characters in the input file. You can tell this to pandas by specifying the following parameter in the pandas `read_csv()` function: `na_values=['*', '**', '***', '****', '*****', '******']`

In [12]:
import pandas as pd
#fp = 'Exercise-5/data/6153237444115dat.csv'

# YOUR CODE HERE
fp = "data/6153237444115dat.csv"

# set_option method was called to allow a total view of the columns/fields in the data of 33 columns
pd.set_option('display.max_columns', 33)
data = pd.read_csv(fp, na_values = ['*','**','***','****','*****','******'])
data

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,H,VSB,MW,MW.1,MW.2,MW.3,AW,AW.1,AW.2,AW.3,W,TEMP,DEWP,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174.0,10.0,14.0,NaN,NaN,NaN,NaN,NaN,2.2,NaN,NaN,NaN,NaN,67.0,NaN,NaN,NaN,8.0,31.0,31.0,1009.2,NaN,984.1,NaN,NaN,NaN,NaN,NaN,NaN,35.0
1,28450,99999,201705010020,180.0,10.0,NaN,4.0,NaN,NaN,NaN,NaN,2.9,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,30.0,30.0,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28450,99999,201705010050,190.0,10.0,NaN,4.0,NaN,NaN,NaN,NaN,2.1,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,30.0,30.0,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28450,99999,201705010100,188.0,12.0,16.0,NaN,NaN,NaN,NaN,NaN,3.2,NaN,NaN,NaN,NaN,77.0,NaN,NaN,NaN,NaN,31.0,30.0,1009.1,NaN,984.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0
4,28450,99999,201705010120,200.0,13.0,NaN,2.0,OBS,NaN,NaN,NaN,1.8,NaN,NaN,NaN,NaN,72.0,NaN,NaN,NaN,NaN,30.0,30.0,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,29980,99999,201708311900,144.0,12.0,20.0,50.0,BKN,NaN,NaN,NaN,19.8,NaN,NaN,NaN,NaN,81.0,NaN,NaN,NaN,NaN,64.0,57.0,1007.7,NaN,1004.7,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11690,29980,99999,201708312000,137.0,14.0,20.0,40.0,BKN,NaN,NaN,NaN,23.5,NaN,NaN,NaN,NaN,23.0,NaN,NaN,NaN,NaN,64.0,56.0,1006.9,NaN,1003.9,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11691,29980,99999,201708312100,160.0,13.0,NaN,NaN,BKN,NaN,NaN,NaN,13.8,NaN,NaN,NaN,NaN,81.0,NaN,NaN,NaN,NaN,64.0,57.0,1006.1,NaN,1003.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11692,29980,99999,201708312200,170.0,12.0,21.0,28.0,OVC,NaN,NaN,NaN,16.8,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,64.0,58.0,1006.1,NaN,1003.1,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11693,29980,99999,201708312300,192.0,13.0,21.0,19.0,BKN,NaN,NaN,NaN,14.1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,64.0,58.0,1005.8,NaN,1002.8,NaN,NaN,NaN,NaN,NaN,NaN,0.0

Check that the first rows of the DataFrame look ok:

In [13]:
data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,H,VSB,MW,MW.1,MW.2,MW.3,AW,AW.1,AW.2,AW.3,W,TEMP,DEWP,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174.0,10.0,14.0,NaN,NaN,NaN,NaN,NaN,2.2,NaN,NaN,NaN,NaN,67.0,NaN,NaN,NaN,8.0,31.0,31.0,1009.2,NaN,984.1,NaN,NaN,NaN,NaN,NaN,NaN,35.0
1,28450,99999,201705010020,180.0,10.0,NaN,4.0,NaN,NaN,NaN,NaN,2.9,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,30.0,30.0,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28450,99999,201705010050,190.0,10.0,NaN,4.0,NaN,NaN,NaN,NaN,2.1,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,30.0,30.0,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28450,99999,201705010100,188.0,12.0,16.0,NaN,NaN,NaN,NaN,NaN,3.2,NaN,NaN,NaN,NaN,77.0,NaN,NaN,NaN,NaN,31.0,30.0,1009.1,NaN,984.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0
4,28450,99999,201705010120,200.0,13.0,NaN,2.0,OBS,NaN,NaN,NaN,1.8,NaN,NaN,NaN,NaN,72.0,NaN,NaN,NaN,NaN,30.0,30.0,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Part 2 (0.5 points)

In the cell below, fill in the variables values to print answers to these questions:

- How many rows is there in the data (variable `rows`)?
- What are the column names (variable `column_names`)?
- What are the datatypes of the columns (variable `column_datatypes`)?

In [19]:

# YOUR CODE HERE
row_count = data.shape[0] # from shape attribute we can obtain the dimension of the dataframe from which the numbers of rows 
#can be gotten by indexing
column_names = data.columns.values # create an object of column headings
column_datatypes = column_names.dtype # this describe the data type of the column obeject

In [20]:
# Print the number of rows in the dataframe:
print(f"There are {row_count} rows")

There are 11694 rows

In [21]:
# Print the column names:
print(f"The columns are: \n{column_names}")

The columns are:
['USAF' 'WBAN' 'YR--MODAHRMN' 'DIR' 'SPD' 'GUS' 'CLG' 'SKC' 'L' 'M' 'H'
 'VSB' 'MW' 'MW.1' 'MW.2' 'MW.3' 'AW' 'AW.1' 'AW.2' 'AW.3' 'W' 'TEMP'
 'DEWP' 'SLP' 'ALT' 'STP' 'MAX' 'MIN' 'PCP01' 'PCP06' 'PCP24' 'PCPXX' 'SD']

In [22]:
# Print the column datatypes:
print(f"The column types are: \n{column_datatypes}")

The column types are:
object

### Part 3 (1 point)

In the cell below, fill in the variables values to print answers to these questions:

- What is the mean Fahrenheit temperature in the data (`temp_mean` variable calculated from the `TEMP` column)?
- What is the standard deviation of the maximum temperature (`temp_max_std` variable calculated from the `MAX` column)?
- How many unique stations exists in the data (`station_count` variable calcualted from the `USAF` column)?

In [25]:
# Calculate mean temperature
temp_drop = data['TEMP'].dropna()
# calculating the mean teperature
temp_mean = temp_drop.mean()

# Calculate standard deviaton of the maximum temperature:

# we then drop the non-convertible string using the dropna() method
std_drop = data['MAX'].dropna()

# calculating the standard deviation of max temperature
temp_max_std = std_drop.std()

#Calculate number of unique stations:
                                                   
station_count = len(pd.unique(data['USAF']))

# YOUR CODE HERE

In [26]:
# Check mean temperature value
print(f"The mean temperature in Fahrenheit is {round(temp_mean,1)}")

The mean temperature in Fahrenheit is 52.2

In [10]:
# Check standard deviation value
print(f"The standard deviation of maximum temperature is {round(temp_max_std, 1)}")

The standard deviation of maximum temperature is 10.3

In [11]:
# Check number of stations value
print(f"The number of unique stations is {station_count}")

The number of unique stations is 2

### Problem 1 summary

- Did you have any problems with Problem 1?

Also, make sure to:

- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5

Please write your answers and comments below (**activate the cell by double clicking**).

YOUR ANSWER HER
- i had problem converting and cleaning my dataframe to data type that is suitbale for my abalysis
-

### On to Problem 2

Now you can continue to [Problem 2: Data manipulation and selection](Exercise-5-problem-2.ipynb)